{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link href="{% static 'bootstrap/css/signin.css'%}" rel="stylesheet">
<div class="container">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form class="form-signin" role="form" method="post" action="{% url 'login' %}">
{% csrf_token %}
    <h2 class="form-signin-heading">Authorization</h2>
    <input id="id_username" name="username" type="text" class="form-control" placeholder="{{ form.username.label }}" required autofocus />
    <input id="id_password" name="password" type="password" class="form-control" placeholder="{{ form.password.label }}" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}