{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
    <link href="{% static 'bootstrap/css/dashboard.css' %}" rel="stylesheet">
    <script type="application/javascript" src="{% static 'todo/js/todo.js'%}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TODO - {{ request.user.username }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accounts/logout/"><span
                            class="glyphicon glyphicon-log-out"
                            aria-hidden="true"></span> Exit</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 sidebar" style="min-width: 150px;">

                <a href="/project/create/" class="btn btn-primary btn-sm" role="button">Create</a>
                Project:
                <select id="select_project">
                    {% if request.path == '/' or request.path == '/project/create/' %}
                        <option value="#">please, select</option>
                    {% endif %}
                    {% for obj in projects %}
                        <option
                        {% if request.path != '/project/create/'%}
                            {% if project != None and project.id == obj.id %}
                                selected
                            {% endif %}
                        {% endif %}
                                value="/project/{{ obj.id }}/">[{{ obj.project_id }}] {{ obj.name }}</option>
                    {% endfor %}
                </select>

{#                <ul class="nav nav-sidebar">#}
{#                    <li><a href="/">issues</a></li>#}
{#                </ul>#}

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}