{% extends "todo/index.html" %}
{% load staticfiles %}
{% block main %}
    Issue Create:
    <form class="form-horizontal" role="form"
          action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td width="20%">Project</td>
                    <td>{{ form.project }}{{ form.project.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Name</td>
                    <td>{{ form.name }}{{ form.name.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Description</td>
                    <td>{{ form.description }}{{ form.description.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Reporter</td>
                    <td>{{ form.reporter }}{{ form.reporter.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Assignee</td>
                    <td>{{ form.assignee }}{{ form.assignee.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Creator</td>
                    <td>{{ form.touched }}{{ form.touched.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Status</td>
                    <td>{{ form.status }}{{ form.status.errors }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}