{% extends "todo/index.html" %}
{% load staticfiles %}
{% block main %}
<a href="/project/{{ project.id }}/issue/create/" class="btn btn-primary btn-sm" role="button">Create</a>
Issues:
<table>
    {% for obj in issues %}
        <tr><td>{{ obj.id }}</td><td>{{ obj.name }}</td></tr>
    {% endfor %}
</table>
{% endblock %}