{% extends "todo/index.html" %}
{% load staticfiles %}
{% block main %}
    Project Create:
    <form class="form-horizontal" role="form"
          action="{% url 'project_create' %}" method="post">
        {% csrf_token %}
{#        {{ form.non_field_errors }}#}
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td width="20%">Name</td>
                    <td>{{ form.name }}{{ form.name.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Project_id</td>
                    <td>{{ form.project_id }}{{ form.project_id.errors }}</td>
                </tr>
                <tr>
                    <td width="20%">Users</td>
                    <td>{{ form.users }}{{ form.users.errors }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}